<form action="" method="post">
  <input type="hidden" name="postHandler" value="profileUpdate">
	<div class="row profileheader">
	  <div class="col-md-4 center">
	    <img src="{{ user.imageL }}">
	  </div>

	  <div class="col-md-8">
	    <div class="row">
	      <div class="col-md-10">
		  <h3>{{ user.nickname }}</h3>
		  <hr>
	      </div>
	    </div>

	    <div class="row">
	      <div class="col-xs-6 col-md-6">
	      	<div class="row">
	      		<div class="col-md-3">
	      			<ul>
	      				<li>RANK:</li>
	      				<li>BORN:</li>
	      				<li>LANGUAGE:</li>
	      			</ul>
	      		</div>
	      		<div class="col-md-7">
			<ul>
			  <li><select name="rank" type="text" id="info-select">
			  	<option value="">SILVER 1</option>
			  	<option value="">SILVER 2</option>
			  	<option value="">SILVER 3</option>
			  	<option value="">SILVER 4</option>
			  	<option value="">SILVER ELITE</option>
			  	<option value="">SILVER ELITE MASTER</option>
			  	<option value="">GOLD NOVA 1</option>
			  	<option value="">GOLD NOVA 2</option>
			  	<option value="">GOLD NOVA 3</option>
			  	<option value="">GOLD NOVA MASTER</option>
			  	<option value="">MASTER GUARDIAN 1</option>
			  	<option value="">MASTER GUARDIAN 2</option>
			  	<option value="">MASTER GUARDIAN ELITE</option>
			  	<option value="">DISTINGUISHED MASTER GUARDIAN</option>
			  	<option value="">LEGENDARY EAGLE</option>
			  	<option value="">LEGENDARY EAGLE MASTER</option>
			  	<option value="">SUPREME MASTER FIRST CLASS</option>
			  	<option value="">THE GLOBAL ELITE</option>
			  </select>
			  </li>
			  <li><select name="age" type="text" class="info-select" >
			  	<option>2015</option>
			  	<option>2014</option>
			  	<option>2013</option>
			  	<option>2012</option>
			  	<option>2011</option>
			  	<option>2010</option>
			  	<option>2009</option>
			  	<option>2008</option>
			  	<option>2007</option>
			  	<option>2006</option>
			  	<option>2005</option>
			  	<option>2004</option>
			  	<option>2003</option>
			  	<option>2002</option>
			  	<option>2001</option>
			  	<option>2000</option>
			  	<option>1999</option>
			  	<option>1998</option>
			  	<option>1997</option>
			  	<option>1996</option>
			  	<option>1995</option>
			  	<option>1994</option>
			  	<option>1993</option>
			  	<option>1992</option>
			  	<option>1991</option>
			  	<option>1990</option>
			  	<option>1989</option>
			  	<option>1988</option>
			  	<option>1987</option>
			  	<option>1986</option>
			  	<option>1985</option>
			  	<option>1984</option>
			  	<option>1983</option>
			  	<option>1982</option>
			  	<option>1981</option>
			  </select></li>
	    	  <li><select name="age" type="text">
	    	  	<option>English</option>
	    	  	<option>German</option>
	    	  	<option>Dannish</option>
	    	  	<option>Norweigan</option>
	    	  	<option>Swedish</option>
	    	  </select></li>
			</ul>
		      </div>
		      </div>
	      </div>

	      <div class="col-xs-6 col-md-6">
		<ul>
		  <li>Kills: {{ user.kills }} </li>
		  <li>Deaths: {{ user.deaths }}</li>
		  <li>Hours played: {{ user.hoursPlayed }}</li>
		</ul>
	      </div>
	    </div>

	  </div>
	</div>

    <div class="row center">
      <h2>Bio</h2>
      <div class="col-md-12 bio-container" style="border: 0;">
         <textarea rows="7" cols="125" name="bio" class="userBio" type="textarea" placeholder="{{user.bio}}"> </textarea>
         <div class="col-md-12 center">
            <input type="submit">
         </div>
      </div>
    </div>

	<div class="row">
	  <div class="col-md-4 col-md-offset-4">
	    <h2 style="text-align: center;">In-game stats</h2>
	  </div>
	</div>

  <div class="row">
    <div class="col-md-12 stats-container">
      <div class="col-md-6 center">
        <ul>
          <li>Kills: {{ user.kills }} </li>
          <li>Deaths: {{ user.deaths }}</li>
          <li>Hours played: {{ user.hoursPlayed }}</li>
          <li>K/D Ratio: {{ user.kdRatio }} </li>
        </ul>
      </div>
      <div class="col-md-6 center">
        <ul>
          <li>Kills: {{ user.kills }} </li>
          <li>Deaths: {{ user.deaths }}</li>
          <li>Hours played: {{ user.hoursPlayed }}</li>
          <li>K/D Ratio: {{ user.kdRatio }} </li>
        </ul>
      </div>
    </div>
  </div>
</form>
