<form action="" method="post">
  <input type="hidden" name="postHandler" value="profileUpdate">
	<div class="row profileheader">
	  <div class="col-md-4 center">
	    <img src="{{ user.imageL }}">
	  </div>

	  <div class="col-md-8">
	    <div class="row">
	      <div class="col-md-10">
		  <h3>{{ user.nickname }}</h3>
		  <hr>
	      </div>
	    </div>

	    <div class="row">
	      <div class="col-xs-6 col-md-6">
		<ul>
		  <li>Rank: <input name="rank" type="text" placeholder="{{ user.rank }}"> </input></li>
		  <li>Born:  <input name="age"  type="text" placeholder="{{ user.age  }}"> </input></li>
      <li>From:  <input name="age"  type="text" placeholder="{{ user.age  }}"> </input></li>
		</ul>
	      </div>

	      <div class="col-xs-6 col-md-6">
		<ul>
		  <li>Kills: {{ user.kills }} </li>
		  <li>Deaths: {{ user.deaths }}</li>
		  <li>Hours played: {{ user.hoursPlayed }}</li>
		</ul>
	      </div>
	    </div>

	  </div>
	</div>

    <div class="row center">
      <h2>Bio</h2>
      <div class="col-md-12 bio-container" style="border: 0;">
         <textarea rows="7" cols="125" name="bio" class="userBio" type="textarea" placeholder="{{user.bio}}"> </textarea>
         <div class="col-md-12 center">
            <input type="submit">
         </div>
      </div>
    </div>

	<div class="row">
	  <div class="col-md-4 col-md-offset-4">
	    <h2 style="text-align: center;">In-game stats</h2>
	  </div>
	</div>

  <div class="row">
    <div class="col-md-12 stats-container">
      <div class="col-md-6 center">
        <ul>
          <li>Kills: {{ user.kills }} </li>
          <li>Deaths: {{ user.deaths }}</li>
          <li>Hours played: {{ user.hoursPlayed }}</li>
          <li>K/D Ratio: {{ user.kdRatio }} </li>
        </ul>
      </div>
      <div class="col-md-6 center">
        <ul>
          <li>Kills: {{ user.kills }} </li>
          <li>Deaths: {{ user.deaths }}</li>
          <li>Hours played: {{ user.hoursPlayed }}</li>
          <li>K/D Ratio: {{ user.kdRatio }} </li>
        </ul>
      </div>
    </div>
  </div>
</form>
