<div class="row edit-team">
  <div class="col-md-12 mrg-top-40">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <h3 class="bold">Edit team</h3>
        <br>

        <form action="" method="post" class="mrg-bot-20" style="border-bottom: 1px solid #d72919; padding-bottom: 30px;">

          <input type="hidden" name="postHandler" value="editTeam">
          <input type="hidden" name="teamId" value="{{team.id}}">

          <p>Team name</p>
          <input type="text" class="form-control" name="edit_team_name" id="team-name" value="{{ team.name }}"><br>

          <p>Team description</p>
          <textarea rows="7"  class="form-control" name="edit_team_descr" id="team-descr">{{ team.descr }}</textarea><br>

          <p>Team language</p>
          <select name="edit_team_lang">
            <option value="" type="checkbox">Language</option>
            <option value="Danish" type="checkbox">Danish</option>
            <option value="English" type="checkbox">English</option>
            <option value="Finnish" type="checkbox">Finnish</option>
            <option value="French" type="checkbox">French</option>
            <option value="German" type="checkbox">German</option>
            <option value="Italian" type="checkbox">Italian</option>
            <option value="Japanese" type="checkbox">Japanese</option>
            <option value="Norwegian" type="checkbox">Norwegian</option>
            <option value="Polish" type="checkbox">Polish</option>
            <option value="Romanian" type="checkbox">Romanian</option>
            <option value="Russian" type="checkbox">Russian</option>
            <option value="Spanish" type="checkbox">Spanish</option>
            <option value="Swedish" type="checkbox">Swedish</option>
            <option value="Thai" type="checkbox">Thai</option>
            <option value="Turkish" type="checkbox">Turkish</option>
            <option value="Ukrainian" type="checkbox">Ukrainian</option>
          </select><br><br>

          <p>Image (Paste your image URL here, preferably le size of your mom)</p>
          <input type="text" class="form-control" name="edit_team_img" id="team-img" value="{{ team.img }}"><br>

          <div class="row">
            <div class="col-md-6">
              <p>Looking for players?</p>
              <select name="looking_for_players">
              <option value="" type="checkbox">{{team.lookingForPlayers}}</option>
              <option value="yes" type="checkbox">Yes</option>
              <option value="no" type="checkbox">No</option>
              </select><br><br>
            </div>
          </div>

          <input type="submit" class="sub-btn" value="Save">

        </form>

        <div class="row">
          <div class="col-md-6">
            <form method="post">
              <p>Remove team member</p>
              <input type="hidden" name="postHandler" value="kickPlayerFromTeam">
              <input type="hidden" name="teamId" value="{{team.id}}">
                <select name="kick_player">
                  <option></option>
                  {% for member in team.members %}
                    <option type="checkbox" value="{{member.steamId}}">
                      {{member.nickname}}
                    </option>
                  {% endfor %}ยง
                </select>
                <br><br>
              <input onclick="return confirm(' Are you sure you want to remove this player from your team?');" type="submit" class="sub-btn" value="Remove">
            </form>
          </div>

          {% if team.applicants %}
            <div class="col-md-5 pull-right">
              <h5 class="manage-applicants-header">Applicants for <b>{{team.name}}</b></h5>
              <div class="manage-applicants">
                <input type="hidden" name="postHandler" value="acceptOrDenyApplicant">
                <ul>
                {% for applicant in team.applicants %}
                  <li><a href="?/Profile/displayUser/{{applicant.steamId}}" target="_blank" title="{{applicant.bio}}"><img src="{{applicant.imageS}}">  {{applicant.nickname}}</a>
                    <form class="pull-right" method="post">
                      <input type="hidden" name="postHandler" value="denyApplicant">
                      <input type="image" src="https://cdn3.iconfinder.com/data/icons/musthave/16/Delete.png" border="0" alt="Submit" />
                      <input type="hidden" name="applicant" value="{{applicant.steamId}}">
                      <input type='hidden' name='teamId' value='{{team.id}}'>
                    </form>
                    <form class="pull-right" method="post">
                      <input type="hidden" name="postHandler" value="acceptApplicant">
                      <input type="image" src="https://cdn3.iconfinder.com/data/icons/musthave/16/Check.png" border="0" alt="Submit" />
                      <input type="hidden" name="applicant" value="{{applicant.steamId}}">
                      <input type='hidden' name='teamId' value='{{team.id}}'>
                    </form>
                  </li>
                {% endfor %}
                </ul>
              </div>
            </div>
          {% endif %}
        </div><!--END ROW-->
      </div>
    </div><!--END ROW-->
  </div>
</div> <!--END ROW-->
