<div class="row edit-team">
  <div class="col-md-12 mrg-top-40">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <h3 class="bold">Edit team</h3>
        <br>

        <form action="" method="post" class="mrg-bot-20" style="border-bottom: 1px solid #d72919; padding-bottom: 30px;">

          <input type="hidden" name="postHandler" value="editTeam">
          <input type="hidden" name="teamId" value="{{team.id}}">
          
          <p>Team name</p>
          <input type="text" class="form-control" name="edit_team_name" id="team-name" value="{{ team.name }}"><br>

          <p>Team description</p>
          <textarea rows="7"  class="form-control" name="edit_team_descr" id="team-descr">{{ team.descr }}</textarea><br>

          <p>Image (Paste your image URL here, preferably le size of your mom)</p>
          <input type="text" class="form-control" name="edit_team_img" id="team-img" value="{{ team.img }}"><br>

          <div class="row">
            <div class="col-md-6">
              <p>Looking for players?</p>
              <select name="looking_for_players">
              <option value="" type="checkbox">{{team.lookingForPlayers}}</option>
              <option value="yes" type="checkbox">Yes</option>
              <option value="no" type="checkbox">No</option>
              </select><br><br>
            </div>
          </div>

          <input type="submit" class="sub-btn" value="Save">

        </form>

        <div class="row">
          <div class="col-md-6">
            <form method="post">
              <p>Remove team members</p>
              <input type="hidden" name="postHandler" value="kickPlayerFromTeam">
              <input type="hidden" name="teamId" value="{{team.id}}">
                <select name="kick_player">
                  <option></option>
                  {% for member in team.members %}
                    <option type="checkbox" value="{{member.steamId}}">
                      {{member.nickname}}
                    </option>
                  {% endfor %}
                </select>
                <br><br>
              <input type="submit" class="sub-btn" value="Remove">
            </form>
          </div>
        </div><!--END ROW-->
      </div>
    </div><!--END ROW-->
  </div>
</div> <!--END ROW-->


<!-- KODEN SKA ANVÄNDAS, LÅT STÅ!
<!--<div class="">
<input type="checkbox" name="dialog_state" id="dialog_state" class="dialog_state">
  <div id='dialog'>
    <label id="dlg-back" for="dialog_state"></label>
    <div id='dlg-wrap'>
      <label id="dlg-close" for="dialog_state"></label>
      <h2 id='dlg-header'>Are you sure that you want to remove this player from the team?</h2>
      <div id='dlg-content'>If you press "Yes" the user will be permanently deleted from the team. Press "Cancel" if you regret your decisions.</div>
      <div id='dlg-prompt'>
        <form method="post">
          <input type="submit" value="Yes">
          <input type="submit" value="Cancer">
        </form>
      </div>
    </div>
  </div>

  <main id='main' class='main_area'>
    <div class='center'>
      <label class="button" id="trigger" for="dialog_state">Lobby leader</label>
    </div>
    <div id='console'></div>
  </main>
</div>

<script>
document.getElementById('trigger').click();
</script> -->
