<!-- Players Card -->
      <div class="col-md-3 portfolio-item" style="width: 225px; margin-bottom: 25px; margin-right: 9px;">
          <a href="?/Profile/displayuser/{{ user.steamId }}">
              <img class="img-responsive" src="{{ user.imageL }}" alt="">
          </a>
          <h3 style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin: 10px 0px;">
              <a href="?/Profile/displayuser/{{ user.steamId }}"> {{ user.nickname }}</a>
          </h3>
          <p>
             <img class="rankimg" src="{{ user.rankImg }}"><br>
             {% if user.isPrivateAcc == 1 %}
               Private profile
               <br>
               <br>
               <br>
             {% else %}
               {{ user.country }}<br>
               K/D Ratio: {{ user.kdRatio }}<br>
               Hours played: {{ user.hoursPlayed }}<br>
             {% endif %}
          </p>
        </div>
<!-- /.row -->
