<!-- Players Card -->
<a href="?/Profile/displayuser/{{ user.steamId }}">
  <div style="background-image:url({{ user.imageL }});" class="player-sum-img" alt=""></div>
</a>
<h3>
    <a href="?/Profile/displayuser/{{ user.steamId }}"> {{ user.nickname }}</a>
</h3>

    <img class="rankimg center mrg-bot-10" src="{{ user.rankImg }}">
  <p>
    {% if user.country != empty %}
      {{ user.country }}
      <img src="{{ user.countryFlag }}" class="player-sum-flag">
      {% else %}
      UNKNOWN
      <img src="http://s2.postimg.org/byyu3kh11/United_Nations.png" class="player-sum-flag">
    {% endif %}
    <br>
  {% if user.isPrivateAcc == TRUE %}
    Private profile
    <br>
    <br>
    <br>
  {% else %}
    Hours played: {{ user.hoursPlayed }}<br>
    K/D Ratio: {{ user.kdRatio }}<br>
  {% endif %}
</p>
<!-- /.row -->
