<!-- Page Header -->
       <div class="row">
           <div class="col-lg-12">
               <h1 class="page-header">Players
                   <small>Find players to play with</small>
               </h1>
           </div>
       </div>
       <!-- /.row -->

       <!-- Players Card -->
         <div class="row">
           {% for user in users %}
             <div class="col-md-3 portfolio-item" style="width: 225px;">
                 <a href="?/Profile/displayuser/{{ user.steamId }}">
                     <img class="img-responsive" src="{{ user.imageL }}" alt="">
                 </a>
                 <h3 style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden;">
                     <a href="?/Profile/displayuser/{{ user.steamId }}"> {{ user.nickname }}</a>
                 </h3>
                 <p> Hours played:{{ user.hoursPlayed }}</p>
               </div>
             {% endfor %}
         </div>
       <!-- /.row -->
