<div class="row profileheader">
  <div class="col-md-4 center">
    <img src="{{ user.imageL }}">
  </div>

  <div class="col-md-8">
    <div class="row">
      <div class="col-md-10">
          {% if user.isPrivateAcc %}
          <h3 style="display: inline-block;">{{ user.nickname }} [<span class="redTxt">private profile</span>]</h3>
          {% else %}
          <h3 style="display: inline-block;">{{ user.nickname }}</h3>
          {% endif %}
          <hr>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-6 col-md-6">
        <ul>
          <li>Rank: <img src="http://s22.postimg.org/4eiardx8x/image.png" style="width: 55px; height: 20px;"> </li>
          <li>Age: {{ user.age }} </li>
          <li>Looking for team</li>
        </ul>
      </div>

      <div class="col-xs-6 col-md-6">
        <ul>
          <li>Kills: {{ user.kills }} </li>
          <li>Deaths: {{ user.deaths }}</li>
	        <li>Hours played: {{ user.hoursPlayed }}</li>
        </ul>
      </div>
    </div>

  </div>
</div>

    <div class="row center">
      <h2>Bio</h2>
      <div class="col-md-12 center bio-container" style="padding: 20px;">
       <p class="userBio"> {{ user.bio }}</p>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4 col-md-offset-4">
        <h2 style="text-align: center;">In-game stats</h2>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12 stats-container">
        <div class="col-md-6 center">
          <ul>
            <li>Kills: {{ user.kills }} </li>
            <li>Deaths: {{ user.deaths }}</li>
            <li>Hours played: {{ user.hoursPlayed }}</li>
            <li>K/D Ratio: {{ user.kdRatio }} </li>
          </ul>
        </div>
        <div class="col-md-6 center">
          <ul>
            <li>Kills: {{ user.kills }} </li>
            <li>Deaths: {{ user.deaths }}</li>
            <li>Hours played: {{ user.hoursPlayed }}</li>
            <li>K/D Ratio: {{ user.kdRatio }} </li>
          </ul>
        </div>
      </div>
    </div>
