<<<<<<< HEAD
<!-- Page header with filter -->
<div style="margin:0px; padding:0px;" class="row"> <!--Add styles to class-->
  <div class="col-lg-12 page-header">
   <div class="row">
       <div style="padding:0px;" class="col-lg-12"> <!--Add styles to class-->
           <h1>Players
             <small>Find players to play with</small>
             <small style="font-size:12px; padding-left:695px;" class="filter-toggle">FILTER &nabla;</small> <!--Add styles to class-->
           </h1>
       </div>
   </div>
   <div style="margin-top:30px;" class="row show-filter"><!--Add styles to class-->
    
     <div class="col-lg-4">
      <form>
        <span>Language:</span>
        <ul style="margin-top:15px;"><!--Add styles to class-->
         <li><input value="swedish" type="checkbox">SWEDISH</input></li>
         <li><input value="english" type="checkbox">ENGLISH</input></li>
         <li><input value="german" type="checkbox">GERMAN</input></li>
         <li><input value="norweigan" type="checkbox">NORWEIGAN</input></li>
       </ul>
      </form>
      </div>
      <div class="col-lg-4">
      <form>
        <span>Rank:</span>
        <ul style="margin-top:15px;"><!--Add styles to class-->
         <li><input value="" type="checkbox">rank_picture1</input></li>
         <li><input value="" type="checkbox">rank_picture2</input></li>
         <li><input value="" type="checkbox">rank_picture3</input></li>
         <li><input value="" type="checkbox">rank_picture4</input></li>
       </ul>
      </form>
      </div>
      <div class="col-lg-4">
      <form>
        <span>Age:</span>
        <ul style="margin-top:15px;"><!--Add styles to class-->
         <li><input value="" type="checkbox"> under 13</input></li>
         <li><input value="" type="checkbox">13-20</input></li>
         <li><input value="" type="checkbox">20-30</input></li>
         <li><input value="" type="checkbox">30-40</input></li>
       </ul>
      </form>
      </div>
     </div><!-- ROW END -->
  </div>
</div>
<!-- /.row -->
=======
<!-- Page Header -->
       <div class="row">
           <div class="col-lg-12">

               <h1 class="page-header">Players
                 <small>Find players to play with</small>
               </h1>
               <p class="filter-toggle">Filter Players V</p>

           </div>
       </div>
       <!-- /.row -->

       <div class="row show-filter" style="margin-bottom: 35px;">
         <form>

         <div class="col-lg-2">
            <select>
              <option value="" type="checkbox">From</option>
              <option value="swedish" type="checkbox">SWEDISH</option>
              <option value="english" type="checkbox">ENGLISH</option>
              <option value="german" type="checkbox">GERMAN</option>
              <option value="norweigan" type="checkbox">NORWEIGAN</option>
           </select>
          </div>

          <div class="col-lg-2">
            <select>
              <option value="" type="checkbox">Rank</option>
              <option value="swedish" type="checkbox">SWEDISH</option>
              <option value="english" type="checkbox">ENGLISH</option>
              <option value="german" type="checkbox">GERMAN</option>
              <option value="norweigan" type="checkbox">NORWEIGAN</option>
           </select>
          </div>

          <div class="col-lg-2">
            <select>
              <option value="" type="checkbox">Hours played</option>
              <option value="" type="checkbox">100+</option>
              <option value="" type="checkbox">300+</option>
              <option value="" type="checkbox">500+</option>
              <option value="" type="checkbox">1000+</option>
           </select>
          </div>

          </form>
         </div><!-- ROW END -->
>>>>>>> c3099d024f714ae0dc1de905cde3638a88c2f87f

   <!-- Players Card -->
     <div class="row">
       {% for user in users %}
         <div class="col-md-3 portfolio-item" style="width: 225px; margin-bottom: 25px; margin-right: 9px;">
             <a href="?/Profile/displayuser/{{ user.steamId }}">
                 <img class="img-responsive" src="{{ user.imageL }}" alt="">
             </a>
             <h3 style="white-space: nowrap; text-overflow: ellipsis; overflow: hidden; margin: 10px 0px;">
                 <a href="?/Profile/displayuser/{{ user.steamId }}"> {{ user.nickname }}</a>
             </h3>
             <p>
                Rank: <img src="{{ user.rankImg }}" style="width: 55px; height: 20px;"><br>
                {% if user.isPrivateAcc == 1 %}
                  Private profile
                {% else %}
                  K/D Ratio: {{ user.kdRatio }}<br>
                  Hours played: {{ user.hoursPlayed }}<br>
                {% endif %}
             </p>
           </div>
         {% endfor %}
     </div>
   <!-- /.row -->
