<!-- Page header with filter -->
<div class="container players-container">
<div class="row">
  <div class="col-lg-12 page-header">
   <div class="row">
       <div class="col-lg-12">
           <h2> FIND PLAYERS TO PLAY WITH
             <small class="filter-toggle">FILTER</small>
           </h2>
       </div>
   </div>

	{% if parameters is defined and parameters.rank is defined or parameters.language is defined or parameters.nick is defined or parameters.hours is defined %}
	 <div style="display:block;" class="row mrg-top-35 mrg-bot-35">
  {% else %}
	 <div class="row show-filter mrg-top-35 mrg-bot-35">
  {% endif %}
       <form action="" method="get" >
				<!-- aperently need, action attribute in form broken -->
				<input type="hidden" name="Players/filterUsers" >

         <div class="col-xs-12 col-sm-2">
            <select name="language">
				      {% if parameters.language is defined %}
							  <option value="{{parameters.language}}" type="checkbox">{{parameters.language}}</option>
              {% endif %}
							<option value="" type="checkbox">Language</option>
              <option value="Swedish" type="checkbox">Swedish</option>
              <option value="English" type="checkbox">English</option>
              <option value="German" type="checkbox">German</option>
              <option value="Danish" type="checkbox">Danish</option>
              <option value="Norwegian" type="checkbox">Norwegian</option>
              <option value="Polish">Polish</option>
              <option value="French">French</option>
              <option value="Turkish">Turkish</option>
              <option value="Chinese">Chinese</option>
              <option value="Finnish">Finnish</option>
              <option value="Spanish">Spanish</option>
              <option value="Russian">Russian</option>
              <option value="Thai">Thai</option>
              <option value="Japanese">Japanese</option>
              <option value="Romanian">Romanian</option>
              <option value="Italian">Italian</option>
              <option value="Ukrainian">Ukrainian</option>
           </select>
          </div>

          <div class="col-xs-12 col-sm-2">
            <select name="rank">
				      {% if parameters.rank is defined  %}
							  <option value="{{parameters.rank}}" type="checkbox">{{parameters.rank}}</option>
              {% endif %}
              <option value="" type="checkbox">Rank</option>
              <option value="silver_1" type="checkbox">SILVER I</option>
              <option value="silver_2" type="checkbox">SILVER II</option>
              <option value="silver_3" type="checkbox">SILVER III</option>
              <option value="silver_4" type="checkbox">SILVER IV</option>
              <option value="silver_elite" type="checkbox">SILVER ELITE</option>
              <option value="silver_elite_master" type="checkbox">SILVER ELITE MASTER</option>
              <option value="gold_nova_1" type="checkbox">GOLD NOVA I</option>
              <option value="gold_nova_2" type="checkbox">GOLD NOVA II</option>
              <option value="gold_nova_3" type="checkbox">GOLD NOVA III</option>
              <option value="gold_nova_master" type="checkbox">GOLD NOVA MASTER</option>
              <option value="master_guardian_1" type="checkbox">MASTER GUARDIAN I</option>
              <option value="master_guardian_2" type="checkbox">MASTER GUARDIAN II</option>
              <option value="master_guardian_elite" type="checkbox">MASTER GUARDIAN ELITE</option>
              <option value="distinguished_master_guardian" type="checkbox">DISTINGUISHED MASTER GUARDIAN</option>
              <option value="legendary_eagle" type="checkbox">LEGENDARY EAGLE</option>
              <option value="legendary_eagle_master" type="checkbox">LEGENDARY EAGLE MASTER</option>
              <option value="supreme_master_first_class" type="checkbox">SUPREME MASTER FIRST CLASS</option>
              <option value="the_global_elite" type="checkbox">GLOBAL ELITE</option>
           </select>
          </div>

          <div class="col-xs-12 col-sm-2">
            <select name="hours">
				      {% if parameters.hours is defined   %}
							  <option value="{{parameters.hours}}" type="checkbox">{{parameters.hours}}</option>
              {% endif %}
              <option value="" type="checkbox">Hours played</option>
              <option value="100"  type="checkbox">100+</option>
              <option value="300"  type="checkbox">300+</option>
              <option value="500"  type="checkbox">500+</option>
              <option value="1000" type="checkbox">1000+</option>
           </select>
          </div>
          <!-- Search form for players nick -->
          <div class="col-xs-12 col-sm-2">
							{% if parameters.nick is defined %}
							  <input type="text" name="nick" value="{{parameters.nick}}">
							{% else %}
                <input type="text" name="nick" placeholder="Enter player nick here...">
              {% endif %}
          </div>

          <div class="col-xs-2">
          <input class="sub-btn" type="submit" value="Filter">
          </div>

          </form>
         </div><!-- ROW END -->
  </div>
</div>
<!-- /.row -->

   <!-- Players Card -->
     <div class="row">
      {% for user in users %}
        <div class="col-xs-2 col-md-3 player-card" >
          {% include "playersummarycard.twig" %}
        </div>
      {% endfor %}
     </div>
   <!-- /.row -->

<div class="row">
    <div class="col-xs-12 ">

{% if parameters is defined and parameters.offset > 0 %}
				<form method="get" action="">
								<input type="hidden" name="Players/filterUsers" >
								<input type="hidden" name="language" value="{{parameters.language}}"> 
								<input type="hidden" name="rank" value="{{parameters.rank}}"> 
								<input type="hidden" name="hours" value="{{parameters.hours}}"> 
								<input type="hidden" name="nick" value="{{parameters.nick}}"> 

								<input type="hidden" name="offset" value="{{ parameters.offset - 25 }}"> 
								<input class="bold nextButton "type="submit" value="< Prev">
				</form>
{% endif %}

{% if users|length > 24 %}
				<form method="get" action="">
								<input type="hidden" name="Players/filterUsers" >
								<input type="hidden" name="language" value="{{parameters.language}}"> 
								<input type="hidden" name="rank" value="{{parameters.rank}}"> 
								<input type="hidden" name="hours" value="{{parameters.hours}}"> 
								<input type="hidden" name="nick" value="{{parameters.nick}}"> 

								<input type="hidden" name="offset" value="{{ parameters.offset + 25 }}"> 
								<input class="bold nextButton pull-right" type="submit" value="Next >">
				</form>
{% endif %}

    </div>
</div>
<!-- /.row -->
</div>
