<div class="container">
  <div class="row mrg-top-40 team-profile-container">
    <div class="col-xs-offset-0 col-md-offset-2 col-xs-12 col-sm-2 center">
      <div class="team-profile-img" style="background-image:url({{ team.img }});background-position: center; background-size:cover;" alt=""></div>
    </div>

    <div class="col-xs-8 col-xs-12 col-sm-4 team-info">
      <div class="team-header">
      <h2>{{ team.name }}</h2><img src="{{ team.countryFlag }}">
      </div>
      <p>
        Members: &nbsp;
        {% for member in team.members %}
          <a href="?/Profile/displayuser/{{ member.steamId }}" class="member"> <u>{{member.nickname}}</u></a>
        {% endfor %}
      </p>
      <p class="">
        Team bio: &nbsp; <span class="team-bio">{{ team.descr }}</span>
      </p>
      <p>
        Looking for members: &nbsp; {{ team.lookingForPlayers }}
      </p>

      {% if currentUser.inTeam == team.id %}
        <form method="post">
          <input type="hidden" name="postHandler" value="removeUserFromTeam">
          <input type="hidden" name="teamId" value="{{currentUser.inTeam}}">
          <button type="submit" class="sub-btn leave-team-button" name="remove_user" value="{{currentUser.steamId}}">Leave team</button>
        </form>
      {% endif %}
    </div>

    {% if currentUser.steamId == team.creator %}
      <div class="col-md-offset-1 col-xs-12 col-sm-2">
        <a class="manage-team" href="?/TeamProfile/editTeam">Manage team</a><br><br>
        {% if team.applicants|length > 0 %}
          <p class="applicants">You've <b style="color: #FFF;">{{ team.applicants|length }}</b> applicant(s).</p>
        {% endif %}
      </div>

    {% elseif currentUser %}
      {% set inApplicants = FALSE %}
      {% for applicant in team.applicants %}
        {% if applicant.steamId == currentUser.steamId %}
          {% set inApplicants = TRUE %}
        {% endif %}
      {% endfor %}
      <div class="col-md-offset-1 col-xs-12 col-sm-2">
        {% if inApplicants %}
          <p class="applied-to-team"> You've applied to this team!</p>
          <!--Add a form which deletes the application-->
        {% else %}
          <form action="?/TeamProfile/Team/{{ team.id }}" method="post">
            <input type="hidden" name="postHandler" value="receiveTeamRequest">
            <button type="submit" class="apply-to-team" name="teamId" value="{{ team.id }}">Apply to team</button>
          </form>
        {% endif %}
      </div>
    {% endif %}
  </div><!--END ROW-->

  <div class="row">
    <div class="col-md-offset-2 col-xs-8 mrg-top-40">
      <h3 class="comment-header bold">Post on team wall</h3>
      {% if currentUser %}
      <form action="/index.php?" method="post">
        <input type="hidden" name="postHandler" value="receiveComments">
        <textarea rows="3" class="form-control" name="comment" placeholder="Got something to say?"></textarea><br>
        <p>You are posting as <u>{{ currentUser.nickname }}</u></p>
        <input type='hidden' name='team_id' value='{{team.id}}'>
        <button type="submit" class="sub-btn">Post</button>
      </form>
      {% else %}
      <form>
        <textarea rows="3" class="form-control" name="" placeholder="You have to log in to make comments." disabled></textarea><br>
        <button type="submit" class="sub-btn" disabled>Post</button>
      </form>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-xs-8 mrg-top-40">
      {% for comment in team.comments %}
        <p class="inline-block"><a href="?/Profile/displayuser/{{ comment.author }}"><u> {{ comment.nick }} </u> </a> </p>
        <img class="rankimg-small" src="{{ comment.rank }}">
        <img class="flag-small" src="{{ comment.country }}">
        <p class="inline-block date-stamp"> {{ comment.date }} </p>
        <p class="comment-text"> {{ comment.text }} </p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
