<div class="thumbnail team-card"><a href="?/TeamProfile/Team/{{ team.id }}">
  <!-- <img src="{{ team.img }}"></a> -->
  <div class="team-img" style="background-image:url({{ team.img }});" alt=""></div>
    <a href="?/TeamProfile/Team/{{ team.id }}" class="inline-block"><h3>{{ team.name }}</h3></a>
    <img class="flag" src="{{ team.countryFlag }}">
    <p class="team-sum-desc"> {{ team.descr }}<br>
      <a href="?/TeamProfile/Team/{{ team.id }}" class="more-info">More Info</a>
      <p class="number-of-members">Members: {{ team.members|length }}</p>
    </p>
</div>
