<div class="thumbnail team-card"><a href="?/TeamProfile/Team/{{ team.id }}">
  <img src="{{ team.img }}"></a>
  <div class="caption">
    <a href="?/TeamProfile/Team/{{ team.id }}"><h3>{{ team.name }}</h3></a>
    <p style="word-wrap: break-word;"> {{ team.descr }}
      <a href="?/TeamProfile/Team/{{ team.id }}">More Info</a>
    </p>
  </div>
</div>
