<div class="row" style="margin-top: 40px;">
  <div class="col-md-offset-2 col-md-2">
    <img src="{{ team.img }}" style="width: 150px; height: 150px;">
  </div>

  <div class="col-md-4">
    <h2>{{ team.name }}</h2>
    <p>
      {{ team.descr }}
    </p>
  </div>

  {% if currentUser.inTeam == team.id %}
    <div class="col-md-offset-1 col-md-2">
      <a href="?/TeamProfile/editTeam">Manage team</a>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-offset-2 col-md-8" style="margin-top: 40px;">
          <h3>Post on team wall</h3>
          <form action="" method="post">
            <input type="hidden" name="postHandler" value="receiveComments">
            <textarea rows="3" class="form-control" name="commentContent" placeholder="Got something to say?"></textarea><br>
            <p>You are posting as <u>{{ currentUser.nickname }}</u></p>
            <input type='hidden' name='commentParent' value='{{readmore}}'>
            <button type="submit">Post</button>
          </form>
    </div>
  </div>
</div>
