<div class="row" style="margin-top: 40px;">
  <div class="col-md-offset-2 col-md-2">
    <img src="{{ team.img }}" style="width: 150px; height: 150px;">
  </div>

  <div class="col-md-4">
    <h2>{{ team.name }}</h2>
    <br>
    <p>
      Members:
    </p>
    <p>
      Team bio: {{ team.descr }}
    </p>
    <p>
      Looking for members: {{ team.lookingForPlayers }}
    </p>
  </div>

  {% if currentUser.inTeam == team.id %}
    <div class="col-md-offset-1 col-md-2">
      <a href="?/TeamProfile/editTeam">Manage team</a>
    </div>
  {% endif %}

  <div class="row">
    <div class="col-md-offset-2 col-md-8" style="margin-top: 40px;">
          <h3>Post on team wall</h3>
          <form action="/index.php?" method="post">
            <input type="hidden" name="postHandler" value="receiveComments">
            <textarea rows="3" class="form-control" name="comment" placeholder="Got something to say?"></textarea><br>
            <p>You are posting as <u>{{ currentUser.nickname }}</u></p>
            <input type='hidden' name='team_id' value='{{team.id}}'>
            <button type="submit">Post</button>
          </form>
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-8" style="margin-top: 40px;">
      {% for comment in team.0.comments %}
        <p> {{ comment.text }} </p>
      {% endfor %}
    </div>
  </div>

</div>
