<div class="container">
  <div class="row mrg-top-40 team-profile-container">
    <div class="col-md-offset-2 col-md-2 center">
      <div class="team-profile-img" style="background-image:url({{ team.img }});background-position: center; background-size:cover;" alt=""></div>
    </div>

    <div class="col-md-4 team-info">
      <h2>{{ team.name }}</h2>
      <br>
      <p>
        Members:
        {% for member in team.members %}
        {{member.nickname}}
        {% endfor %}
      </p>
      <p>
        Team bio: {{ team.descr }}
      </p>
      <p>
        Looking for members: {{ team.lookingForPlayers }}
      </p>
    </div>

    {% if currentUser.steamId == team.creator %}
      <div class="col-md-offset-1 col-md-2">
        <a class="manage-team" href="?/TeamProfile/editTeam">Manage team</a>
        <br><br>
        {% if team.applicants %}
        <h5 class="manage-applicant-header">Applicants for <br> {{team.name}}</h5>
        <div class="manage-applicants">
          <input type="hidden" name="postHandler" value="acceptOrDenyApplicant">
          <ul>
          {% for applicant in team.applicants %}
            <li><a href="?/Profile/displayUser/{{applicant.steamId}}" target="_blank" title="{{applicant.bio}}"><img src="{{applicant.imageS}}">  {{applicant.nickname}}</a><br>
              <form method="post">
                <input type="hidden" name="postHandler" value="acceptApplicant">
                <input class="manage-applicant-posts" type="image" src="https://cdn3.iconfinder.com/data/icons/musthave/16/Check.png" border="0" alt="Submit" />
                <input type="hidden" name="applicant" value="{{applicant.steamId}}">
                <input type='hidden' name='teamId' value='{{team.id}}'>
              </form>
              <form method="post">
                <input type="hidden" name="postHandler" value="denyApplicant">
                <input type="image" src="https://cdn3.iconfinder.com/data/icons/musthave/16/Delete.png" border="0" alt="Submit" />
                <input type="hidden" name="applicant" value="{{applicant.steamId}}">
                <input type='hidden' name='teamId' value='{{team.id}}'>
              </form>
            </li>
          {% endfor %}
          </ul>
        </div>
      {% endif %}
      </div>

    {% elseif currentUser %}
    <div class="col-md-offset-1 col-md-2">
      <form action="?/TeamProfile/Team/{{ team.id }}" method="post">
        <input type="hidden" name="postHandler" value="receiveTeamRequest">
        <button type="submit" class="apply-to-team" name="teamId" value="{{team.id}}">Apply to team</button>
      </form>
    </div>
    {% endif %}
  </div><!--END ROW-->

  <div class="row">
    <div class="col-md-offset-2 col-md-8 mrg-top-40">
      <h3 class="comment-header">Post on team wall</h3>
      {% if currentUser %}
      <form action="/index.php?" method="post">
        <input type="hidden" name="postHandler" value="receiveComments">
        <textarea rows="3" class="form-control" name="comment" placeholder="Got something to say?"></textarea><br>
        <p>You are posting as <u>{{ currentUser.nickname }}</u></p>
        <input type='hidden' name='team_id' value='{{team.id}}'>
        <button type="submit" class="sub-btn">Post</button>
      </form>
      {% else %}
      <form>
        <textarea rows="3" class="form-control" name="" placeholder="You have to log in to make comments." disabled></textarea><br>
        <button type="submit" class="sub-btn" disabled>Post</button>
      </form>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-offset-2 col-md-8 mrg-top-40">
      {% for comment in team.comments %}
        <p class="inline-block"><a href="?/Profile/displayuser/{{ comment.author }}"><u> {{ comment.nick }} </u> </a> </p>
        <img src="{{ comment.rank }}">
        <img src="{{ comment.country }}">
        <p class="inline-block date-stamp"> {{ comment.date }} </p>
        <p class="comment-text"> {{ comment.text }} </p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
